@font-face {
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
    font-family: 'Montserrat-Regular';    
    font-weight: normal;
} 
html{
	font-family: 'Montserrat-Regular'; 
}

a, i{
    transition: .5s;
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #b8b8b8;
}

p{
    margin: 0;
}

/*Header*/

header{
    background-color: #3FD8B3;
    padding-bottom: 70px;
    margin-bottom: 16px;
}

.row-header{
    padding-top: 5px;
}

.titulo{ 
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.links{ 
    margin-bottom: 5px;
    color: #fff;
}
.single-link{
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 400;
}
.single-link:hover{
 color: #474747;
 border-bottom: 1px solid #474747;
}
.icones{ 
    margin-bottom: 5px;
    color: #fff
}
.single-icon{
    font-size: 25px;
    padding: 7px;
}
.col-12{
    text-align: center;
    margin-top: 5px;
}

#img1-container{
    display: flex;
    justify-content: center;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ola{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #fff;
}

.header-messeger{
    text-align: center;
    color: #fff;
}

.single-link2{
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 400;
}

/*About me*/

.row-about-me{
    padding-bottom: 30px;
}

#img2-container{
    display: flex;
    height: 300px;
    justify-content: center;
}

.row-img2{
 padding: 40px;
}

.row-text{
    padding: 20px;
}

.title-about-me{
    text-align: center;
    color: #1E1E1E;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
}

.subtitle-about-me{
    text-align: end;
    color: #686868;
    margin-top: 36px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 450;
}

.content-about-me{
    text-align: start;
    color: #1E1E1E;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
}

/*habilidades*/

.habilidades-container{
    background-color: #404040;
    padding: 30px;
}
.skill-title{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.imgs-skills{
    display: flex;
    height: 130px;
    justify-content: center;
    margin: 30px;
}

 /*Ferramentas*/

.tools-title{
    color: #404040;
    margin-top: 45px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
 }
 .row-tools{
     margin-top: 30px;
 }

.icon-tools{
    display: flex;
    height: 130px;
    justify-content: center;
    margin: 10px 0px 30px 0px;
}

.text-tools-container{
    text-align: center;
    padding: 28px;
    color: #1E1E1E;
    font-size: 15px;
    font-weight: 400;
}

span{
    font-weight: 600;
}

/*Trabalhos*/

.center-image{
    background-size:cover ;
    background-position: center;
}

.row-portifolio{
    margin-top: 45px;
}

.git-cover{
    width: 400px;
    height: 180px;
    margin: auto;
    background-image:url(../img/cover-portifolio/github.png) ;
    position: relative;
    margin-bottom: 40px;
}
.behance-cover{
    width: 400px;
    height: 180px;
    margin: auto;
    background-image:url(../img/cover-portifolio/behance.png) ;
    position: relative;
    margin-bottom: 40px;
}
.prototipos-cover{
    width: 400px;
    height: 180px;
    margin: auto;
    background-image:url(../img/cover-portifolio/xd.png) ;
    position: relative;
    margin-bottom: 40px;
}
.certificados-cover{
    width: 400px;
    height: 180px;
    margin: auto;
    background-image:url(../img/cover-portifolio/certificado.png) ;
    position: relative;
    margin-bottom: 40px;
}

.tarja{
    background-color: #000000;
    opacity: 0.4;
    width: 400px;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.text-portifolio{
    color: #fff;
    opacity: 1;
    text-align: start;
    padding: 12px 0 12px 12px;
    position: absolute;
    bottom: 0;
}

.btn-portifolio{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 6px 15px 6px 0;
}

/* Footer */

.footer-container{
    background-color: #404040;
    width: 100%;
    height: 230px;
}
.nome-footer{
    color: #fff;
    text-align: center;
    padding-top: 15px;
}
.nickname-footer{
    color: #a1a1a1;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
}
.icons-footer{
    color: #fff;
    opacity: 0.8;
    margin: auto;
}
.contato-footer{
    color: #fff;
    text-align: center;
    padding-top: 15px;
}
.telefone-footer{
    color: #fff;
    text-align: center;
    padding-top: 5px;
}
.copyright-footer{
    color: #fff;
    text-align: center;
    padding-top: 18px;
}