/* Geral */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
a, i{
    transition: .5s;
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #2b7461;
}

span{
    font-weight: 650;
}

p{
    margin: 0;
}

.center-image{
    background-size:cover ;
    background-position: center;
}


/*Header*/

header{
    background-color: #3FD8B3;
    padding-bottom: 6px;
    margin-bottom: 16px;
}

.header-row{
    padding-top: 5px;
}

.home{ 
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    position: relative;
    top: 16%;
    padding-left: 5px;
}
.header-links{ 
    top: 4px;
    margin-bottom: 6px;
    color: #fff;
    position: relative;
}
.header-single-link{
    font-size: 14px;
    margin: 0 5px 0px 5px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 400;
}
.header-single-link:hover{
 border-bottom: 1px solid #2b7461;
}
.header-icons{
    position: relative;
    top: 2px;
    margin-bottom: 4px;
    color: #fff
}
.single-icon{
    font-size: 25px;
    padding: 7px;
}
.col-12{
    text-align: center;
    margin-top: 5px;
}

/*prototipos*/

.tools-title{
    color: #404040;
    margin-top: 45px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.center-image{
    background-size:cover ;
    background-position: center;
}

.row-portifolio{
    margin-top: 45px;
}

.git-cover{
    width: 360px;
    height: 180px;
    margin: auto;
    background-image:url(../img/cover-prototipos/donuts-cover.png) ;
    position: relative;
    margin-bottom: 40px;
}
.behance-cover{
    width: 360px;
    height: 180px;
    margin: auto;
    background-image:url(../img/cover-prototipos/site-cover.png) ;
    position: relative;
    margin-bottom: 40px;
}
.whatsappclone-cover{
    width: 360px;
    height: 180px;
    margin: auto;
    background-image:url(../img/cover-prototipos/whatsappclone-cover.png) ;
    position: relative;
    margin-bottom: 40px;
}
.certificados-cover{
    width: 360px;
    height: 180px;
    margin: auto;
    background-image:url(../img/cover-portifolio/certificado.png) ;
    position: relative;
    margin-bottom: 40px;
}

.tarja{
    background-color: #000000;
    opacity: 0.4;
    width: 360px;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.text-portifolio{
    color: #fff;
    opacity: 1;
    text-align: start;
    padding: 12px 0 12px 12px;
    position: absolute;
    bottom: 0;
}

.btn-portifolio{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 6px 16px 6px 0;
}

/* Footer */

.footer-container{
    background-color: #404040;
    width: 100%;
    height: 230px;
}
.footer-name{
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
}
.footer-nickname{
    color: #a1a1a1;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
    font-size: 13px;
}
.footer-icons{
    color: #fff;
    opacity: 0.8;
    margin: auto;
}
.footer-mail{
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
}
.footer-tell{
    color: #fff;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
}
.footer-copy{
    color: #fff;
    text-align: center;
    padding-top: 18px;
    font-size: 14px;
}